# If  conditional statement

* A Python if statement evaluates whether a condition is equal to true or false. 
* The statement will execute a block of code if a specified condition is equal to true. Otherwise, the block of code within the if statement is not executed

In [ ]:
x=2
if x==2: # If condition is true
    print('The if condition is true')

In [ ]:
x=5
if x==2: # If condition is false
    print('The if condition is true')

In [ ]:
x=5
if x==2: # If condition is false
    print('The if condition is true')
else:
    print ('If condition is not met')
    print('Else part is executed')

In [ ]:
x=-23
if(x>0):
    print('i am in if block')
else:
    print('i am not')

In [ ]:
if(5<4):
    print('5 is big')
    print('i am in if block')



print('i am out of if block')  # out of block statement

In [ ]:
x = 5

if x>0:
    print("X is positive")
    print("i am in IF block")
    
print("i am  out of IF block")

In [ ]:
# if ... else

x = 0

if x>0:
    print("X is positive")
    print("i am in IF block")
elif x==0:
    print("X is neither positive nor negative")
    print("X is equal to 0")
else:
    print("X is Negative")
    print('i am in else block')
    
    
print("i am  out of IF block")

In [ ]:
x=5
if(x>10):
    print('i am in if block')
elif(x<6):   # elif will help in checking more than 1 if condition
    print('i am in elif block')
else:
    print('i am in else block')

In [ ]:
# if... elif ... else
x =int(input('enter the number'))

if x>0:
    print("X is positive")
elif x<0:
    print("X is Negative")
    print('i am in elif block')
else:
    print("X is Zero")
    print('i am in else block')

print('outside of the loop')

In [ ]:
## Nesting
x=2
if(x>=3):
    print('i am in 1st if')
    if(x>2):
        print('i am in 2nd if')
        if(x==4):
            print('i am in 3rd if ')

In [ ]:
i=6
if(i>0):
    print('first loop')
    if(i<=5):
        print('secound loop')
        print('number is in primary range')
    if(i>5):
        print('mid range')
    else:
        print('end of the loop')
else:
    print('number is negative')

print('out of the nested loop')

In [ ]:
i = 10
if (i == 10):
   
    #  First if statement
    if (i < 15):
        print("i is smaller than 15")
         
    # Nested - if statement
    # Will only be executed if statement above
    # it is true
    if (i < 12):
        print("i is smaller than 12 too")
    else:
        print("i is greater than 15")

# Input function

In [ ]:
a=input('Enter your name:')  # Default input is considered a string

In [ ]:
a

In [ ]:
b=int(input('Enter a number between 16 and 40:'))

In [ ]:
b

# Packages

Packages are software which holds certain functionalities to work on.In python we have many builtin packages which we will be
using.

Packages contains moduled and submodules.

Each and every module and submodule can be used independently by using certain keywords.

So lets assume we want to build a software where we need 4 functionalities like A,B,C,D.So you cannot go directly and we the build the software,you need to breal down this into logical smaller parts.So lets say A and C are have similar types of functionality  and B and D takes similar type of functionality so we will group them under same module.

![image.png](attachment:image.png)

Modules and submodules provide very efficient way of writing code.If you want to make changes in A,you need to disturb any modules,you can go ahead and make the chnages.

Modules also provide code resuibilty.If we wnat to develope new software which uses only A and D,they can be used.

In [ ]:
r= float(input("enter the radius"))
area = 3.141*r**2
print (area)

In [ ]:
import math
area= math.pi*r**2
area

# Datetime package

In Python, date and time are not a data type of their own, but a module named datetime can be imported to work with the date as well as time. Python Datetime module comes built into Python, so there is no need to install it externally.

1)date – An idealized naive date, assuming the current Gregorian calendar always was, and always will be, in effect. Its attributes are year, month and day.


2)time – An idealized time, independent of any particular day, assuming that every day has exactly 24*60*60 seconds. Its attributes are hour, minute, second, microsecond

3)datetime – Its a combination of date and time along with the attributes year, month, day, hour, minute, second, microsecond

4)timedelta – A duration expressing the difference between two date, time, or datetime instances to microsecond resolution.

In [ ]:
from datetime import date

In [ ]:
my_date = date(1996, 12, 11) ## Simple date creation

In [ ]:
my_date

In [ ]:
# Getting today's date
today1 = date.today()
 
print("Today's date is", today1)

In [ ]:
today1.day

In [ ]:
from datetime import datetime

In [ ]:
dt_now= datetime.now()

In [ ]:
dt_now

In [ ]:

date1=date(2004,12,27)
date1

In [ ]:
delta=today1-date1
delta

In [ ]:
delta.days/365

In [ ]:
# Get Today’s Year, Month, and Date

print("Current year:", today1.year)
print("Current month:", today1.month)
print("Current day:", today1.day)

In [ ]:
# time attributes for dt_now

print("Current hour:", dt_now.hour)
print("Current minute:", dt_now.minute)
print("Current second:", dt_now.second)

In [ ]:
# Get date from datetime sub module
from datetime import datetime as dt

current_date=dt.now()
current_date

In [ ]:
dt.date(current_date)

In [ ]:
date1.day

In [ ]:
date1.hour

In [ ]:
today1.isoweekday()

In [ ]:
date1.month

In [ ]:
# Time submodule

from datetime import time

In [ ]:
my_time = time(14, 24, 56)
 
print("Entered time", my_time)

In [ ]:
# Timedelta function demonstration
 
from datetime import date, timedelta

present_day = date.today()
 
# printing initial_date
print("initial_date", str(present_day))
 
# Calculating future dates
# for 730 days
future_date_after_2yrs = present_day + timedelta(days=730)
future_date_after_2yrs

In [ ]:
present_day - timedelta(days=300)

In [ ]:
## Task:-Calculate your age after 5000 days.The output should be in years

# Data Structures of Python

In [ ]:
a=23,24

In [ ]:
a

There are 4 major ds in python

1)List
2)Tuple
3)Dictonary
4)Sets

## List

1)	List is an ordered sequence of items.

2)	We can have different data types under a list. E.g we can have integer, float and string items in a same list.

In [ ]:
# List creation

list1=[] # Empty list 
type(list1)

In [ ]:
print (list1)

In [ ]:
list1=list([]) # using list function
list1

In [ ]:
list2=list([1,2,3,4]) # List of integer
list2

In [ ]:
list2 = [1,2,3,4]

In [ ]:
l3=[12.3,34.5,56.23,5.3]  # List of float values

In [ ]:
len(l3)

In [ ]:
strlist = ['begin', 'aroma', 'vintage', 'cross','23%dfg']
strlist

In [ ]:
strlist[len(strlist)-1]   # last item

In [ ]:
# Reverse strlist
strlist[::-1]  # calling the reversed list

In [ ]:
strlist.reverse()  # modifies the list instantly

In [ ]:
print (strlist)

In [ ]:
str1=strlist[1]
str1

In [ ]:
list5 = [21, 56, 4, 7, 21, 8, 90]
list5[2] # call the element 4
list5[0]  # call the first element of list
list5[-1]   # last element

In [ ]:
# Slicing
list5[0:3]     # first 3 elements
list5[3:]    # last 4 elements
list5[-4:]

In [ ]:
l4=['ABC','PQR','RES']  # List of strings

In [ ]:
l5=['Data',  25  ,[50,  100],[150,  90]] #  Nested  Lists i.e list inside list

In [ ]:
l5

In [ ]:
l5[2][1]

In [ ]:
# Call 150 from l5
l5[-1][0]

In [ ]:
l6=[100,  'Data',  17.765] #  List  of  mixed  data  types

In [ ]:
len(l2) # Number of elements in list

![image-2.png](attachment:image-2.png)

## List Indexing and  Slicing

In [ ]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [ ]:
len(mylist)

In [ ]:
mylist[2]

In [ ]:
mylist[0:3]  #  Return  all  items  from  0th  to  3rd  index  location  excluding  the  item at upper limit

## Add , Remove & Change Items

In [ ]:
mylist.append('nine')  #  Add  a single item  to  the  end  of  the  list
mylist

In [ ]:
mylist.insert(4,'mid_value')
mylist

In [ ]:
mylist.extend(['ten',11,12])

In [ ]:
mylist

In [ ]:
# Removal of the last element of list

mylist.pop()

In [ ]:
mylist.pop(4)  # index value of item to be removed

In [ ]:
mylist

In [ ]:
mylist.insert(9,'ten')  #  Add  item  at  index  location  9
mylist

In [ ]:
mylist.extend([1,2,3])  # Add multiple elements at a time at end of list
mylist

In [ ]:
mylist.pop()  # Remove last  element from list

In [ ]:
mylist.pop(8)  #  Remove  item  at  index  location  8
mylist

In [ ]:
mylist.remove('one')  #  Remove  item  "ONE" (value)
mylist

In [ ]:
del  mylist[-2]  #  delete by specifying index value
mylist

In [ ]:
mylist.clear()  # clears out the list to make it empty

In [ ]:
mylist

In [ ]:
del mylist

In [ ]:
mylist

In [ ]:
mylist.clear()# Empty List / Delete all items in the list
mylist

In [ ]:
del mylist # Delete entire list

In [ ]:
mylist

## Join Lists

In [4]:
list1 = ['one', 'two', 'three', 'four']
list2 = ['five', 'six', 'seven', 'eight']
list3= [9,10,11]

In [5]:
list1.extend([list2,list3])

In [6]:
list1

['one', 'two', 'three', 'four', ['five', 'six', 'seven', 'eight'], [9, 10, 11]]

In [7]:
len(list1)

6

In [8]:
list1[3]

'four'

In [2]:
# List Concatenation
list3 = list1 + list2 # Join two lists by '+' operator
print(list3)

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## List Membership

In [ ]:
'one' in list1 # Check if 'one' exist in the list

In [ ]:
10 in list1 # Check if 'ten' exist in the list

In [ ]:
len(list1)

In [ ]:
if 'zero' in list1: # Check if 'three' exist in the list
    print('Zero is present in the list')
else:
    
    print('Zero is now present in the list')
print (list1)

In [ ]:
if 'three' in list1: # Check if 'three' exist in the list
    print('Three is present in the list')
else:
    print('Three is not present in the list')

## Reverse & Sort List

In [9]:
list1=['one','two','three','four']

In [ ]:
list1[::-1]

In [ ]:
list1

In [ ]:
list1.reverse() # Reverse the list
list1

In [ ]:
list1[::2]

In [ ]:
list1  =  list1[::-1]  #  Reverse  the  list
list1

In [ ]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort()	# Sort list in ascending order
mylist3

In [10]:
list1

['one', 'two', 'three', 'four']

In [11]:
list1.sort()

In [13]:
list1.extend([5,6.7,8.1])
list1

['four', 'one', 'three', 'two', 5, 6.7, 8.1]

In [14]:
list1.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [17]:
list11= [4,71,55,True,False]
list11.sort()

In [18]:
list11

[False, True, 4, 55, 71]

In [19]:
mylist3  =  [9,5,2,99,12,88,34]
mylist3.sort(reverse=True)	#  Sort  list  in  descending  order
mylist3

[99, 88, 34, 12, 9, 5, 2]

In [ ]:
mylist4= ['banana', 'mango', 'apples']
mylist4.sort()

In [ ]:
mylist4 # list of strings sorted by alphabetic order

## All / Any

The all() method returns:

True - If all elements in a list are true
False - If any element in a list is false

The any() function returns True if any element in the list is True. 
If not, any() returns False.

In [ ]:
# all nos. except 0 are True

In [ ]:
L1  =  [1,2,3,4,0]

In [ ]:
all(L1) # Will Return false as one value is false (Value 0)

In [ ]:
any(L1)	# Will Return True as we have items in the list with 
#True value

In [20]:
L2  =  [1,2,3,4,True,False]

In [21]:
all(L2) # Returns false as one value is false

False

In [22]:
any(L2)	# Will Return True as we have items in the list with True value

True

In [24]:
L2[4:] = [5,6]
L2

[1, 2, 3, 4, 5, 6]

# Tuples

1.	Tuple is similar to List except that the objects in tuple are immutable which means we cannot change the elements of a         tuple once assigned.
2.	When we do not want to change the data over time, tuple is a preferred data type.
3.	Iterating over the elements of a tuple is faster compared to iterating over a list.

# Tuple Creation

In [ ]:
tup1 = ()	# Empty tuple

In [ ]:
tup11=tuple()
tup11

In [25]:
tup2  =  (10,30,60)	#  tuple  of  integers  numbers

In [26]:
tup3 = (10.77,30.66,60.89)	# tuple of float numbers

In [27]:
new_tup=tup2+tup3
print (new_tup)

(10, 30, 60, 10.77, 30.66, 60.89)

In [ ]:
new_tup[-1]

In [ ]:
tup4 =  ('one','two' , "three")	# tuple of strings

In [28]:
tup5  =  ('Data',  25  ,(50,  100),(150,  90))	#  Nested  tuples
tup5

('Data', 25, (50, 100), (150, 90))

In [29]:
# Index 150
tup5[-1][0]

150

In [ ]:
tup6  =  (100,  'Data',  17.765)	#  Tuple  of  mixed  data  types

In [30]:
tup7  =  ('Data',  25  ,[50,  100],[150,  90]  ,  
          {'John'  ,  'David'}  , 
          (99,22,33))
tup7

('Data', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [ ]:
len(tup7) #Length of tuple

In [33]:
150 in tup7[3]

True

In [32]:
25 in tup7

True

In [ ]:
tup7[4][0]

In [ ]:
# locate 99
tup7[-1][0]

## Tuple Indexing

In [ ]:
tup2[0]  #  Retreive  first  element  of  the  tuple

In [ ]:
tup7

In [ ]:
tup8=('Data', 25, [50, 100], [150, 90], ['David', 'John'], (99, 22, 33))

In [ ]:
tup8[4][1]  #  Nested  indexing  -  Access  the  first  character  of  the  first  tuple  element

## Tuple Slicing

In [34]:
mytuple = ('one' , 'two' , 'three' , 
           'four' , 'five' , 'six' , 'seven' , 'eight')

In [ ]:
mytuple[:3]  #  Return  all  items  from  0th  to 
#3rd  index  location  excluding  the  upper limit

## Remove & Change Items

In [35]:
del  mytuple[0]  #  Tuples  are  immutable  which  means  we  can't  DELETE  tuple  items

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
mytuple[0]  =  1  #  Tuples  are  immutable  which  means  we  can't  CHANGE  tuple  items

In [36]:
mytuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [37]:
del mytuple # Deleting entire tuple object is possible

In [38]:
mytuple

NameError: name 'mytuple' is not defined

## Count

In [ ]:
mytuple1  =('one',  'two',  'three',  'four',  'One', 
            'one',  'two',  'three')
mytuple1

In [ ]:
mytuple1.count('one') # Number of times item "one" 
# occurred in the tuple.

In [ ]:
mytuple1.count('our')

## Tuple Membership

In [ ]:
'one' in mytuple1 # Check if 'one' exist in the tuple

In [ ]:
if 'three' in mytuple1: # Check if 'three' exist in the tuple
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

## Index Position

In [ ]:
mytuple1.index('one') # Index of first element equal to 'one'

In [ ]:
mytuple1.index('two') # index locates the first instance of element

## Sorting

In [ ]:
mytuple2  =  (43,67,99,12,6,90,67)

In [ ]:
sorted(mytuple2)	# Returns a new sorted list and doesn't change original tuple

In [ ]:
mytuple2

In [ ]:
new=sorted(mytuple2, reverse=True) # Sort in descending order
print(new, type(new))

In [ ]:
new.sort()
print (new)

# Sets

1)	Unordered & Unindexed collection of items.

2)	Set elements are unique. Duplicate elements are not allowed.

3)	Set elements are immutable (cannot be changed).

4)	Set itself is mutable. We can add or remove items from it.

## Set Creation

In [ ]:
myset1={} # Empty set cannot be created by curly braces

In [ ]:
type(myset1)

In [ ]:
myset = set() # Create an empty set
print(type(myset))

In [ ]:
myset  =  {1,5,3,2,4}  #  Set  of  numbers
myset

In [ ]:
# Order of elements is not relevant for a set. (display tends to
# show some order)

In [ ]:
len(myset) #Length or number of elements of the set

In [ ]:
my_set  =  {1,1,2,2,3,4,5,5}
my_set	# Duplicate elements are not allowed.

In [ ]:
myset1 = {1.79,2.08,3.99,4.56,5.45} # Set of float numbers
myset1

In [ ]:
myset2 = {'Data' , 'John' , 'Tyrion'} # Set of Strings
myset2

In [ ]:
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes
myset3

In [ ]:
myset3[0][2] # indexing not allowed

## Set Membership

In [ ]:
myset = {'one', 'two', 'three', 'four', 'five', 'six',
         'seven', 'eight'}

In [ ]:
myset

In [ ]:
'one' in myset # Check if 'one' exist in the set

In [ ]:
if 'three' in myset: # Check if 'three' exist in the set
    print('Three is present in the set')
else:
    print('Three is not present in the set')

## Add & Remove Items

In [ ]:
myset3  =  {10,20,  "Hola",  (11,  22,  32)}  #  Mixed  datatypes
myset3

In [ ]:
myset3.add(True)  #  Add  item  to  a  set  using  add()  method
myset3
# check with bool and float
# bool data is not inserted

In [ ]:
myset3.update(['TEN' , 'ELEVEN' , 'TWELVE'])	# Add multiple item to a set using
myset3

In [ ]:
myset3.remove('Hola')  #  remove  item  in  a  set  using  remove()  method
myset3

In [ ]:
myset3.discard('TEN') # remove item from a set using discard() method
myset3

In [ ]:
myset3.clear() # Delete all items in a set
myset3

In [ ]:
del myset3 # Delete the set object
myset3

In [ ]:
myset

## Set Operation

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}
C  =  {8,9,10}

In [ ]:
A | B	# Union of A and B (All elements from both sets.
#NO DUPLICATES)

In [ ]:
A.union(B)  #  Union  of  A  and  B

In [ ]:
newset=B.union(A)

In [ ]:
newset

In [ ]:
A.union(B,  C)	#  Union  of  A,  B  and  C.

In [ ]:
A  =  {1,2,3,4,5}
B  =  {4,5,6,7,8}

In [ ]:
A.intersection(B)  #Intersection  of  A  and  B

In [ ]:
A.intersection(B,C)

In [ ]:
A.difference(B)  #  Difference  of set. set of elements that are only in A but not in B

In [ ]:
B.difference(A) #  set  of  elements  that  are  only  in  B  but  not  in  A

In [ ]:
B - A

In [ ]:
B.difference (A,C)

# Dictionary

Dictionary is a mutable data type in Python.
A python dictionary is a collection of key and value pairs separated by a colon (:) & enclosed in curly braces {}.
Keys must be unique in a dictionary, duplicate values are allowed

![image.png](attachment:image.png)

## Create Dictionary

In [ ]:
mydict = dict() # empty dictionary
mydict

In [ ]:
type(mydict)

In [ ]:
mydict= {}
print (mydict)
print (type(mydict))

In [ ]:
mydict  =  {1:'one'  ,  2:'two'  ,  3:'three'}  #  
#dictionary  with  integer  keys
mydict

In [ ]:
mydict  =  dict({1:'one'  ,  2:'two'  ,  3:'three'})  
#  Create  dictionary  using  dict()
mydict

In [ ]:
mydict = {'A':'one' , 'B':'two' , 'C':'three'} 
# dictionary with character keys
mydict

In [ ]:
mydict  =  {1:'one'  ,  'A':'two'  ,  3:'three'}  
#  dictionary  with  mixed  keys
mydict

In [ ]:
mydict.keys() # Return Dictionary Keys using
# keys() method

In [ ]:
mydict.values() # Return Dictionary Values using 
#values() method

In [ ]:
mydict.items() # Access each key-value pair within a dictionary

In [ ]:
# Keys in a dictionary are always unique
mydict['A']# [1]

In [ ]:
# Keys in a dictionary are always unique
mydict['A'][1]

In [ ]:
mydict[2]

In [ ]:
mydict  =  {1:'one'  ,  2:'two'  ,
            'A':['Data'  ,  'john'  ,  'Maria']} 
#  dictionary  with one value as list
mydict

In [ ]:
mydict['A'][1]

In [ ]:
# Extract Dharavi from the below nested dictionary.
d={0:{'one':1,'two':2,'three':3,'four':4},
   1:{'city':'bangalore','area':'kudlu'},
   'three':{'city':'mumbai','area':'Dharavi'}}

## Add, Remove & Change Items

In [1]:
mydict1 = {'Name':'Data','ID': 12345 ,'DOB': 1991 ,'Address':'Helsinki'} 
mydict1

{'Name': 'Data', 'ID': 12345, 'DOB': 1991, 'Address': 'Helsinki'}

In [ ]:
mydict1.keys()

In [ ]:
mydict1['DOB'] = 1992	# Changing Dictionary Items
mydict1['Address'] = 'Delhi'
mydict1

In [ ]:
mydict1['Job'] = 'Analyst' # Adding items in the dictionary
mydict1

In [ ]:
mydict1.pop('Job')  #  Removing  items  in  the  dictionary  using  Pop  method
mydict1

In [ ]:
mydict1.popitem() # A random item is removed

In [ ]:
mydict1

In [2]:
del[mydict1['ID']] # Removing item using del method
mydict1

{'Name': 'Data', 'DOB': 1991, 'Address': 'Helsinki'}

In [ ]:
mydict1.clear() # Delete all items of the dictionary using clear method
mydict1

In [ ]:
del mydict1 # Delete the dictionary object
mydict1