## Python Implementation

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# The objective is to tell the type of glass based on amount of other elements present.
data = pd.read_csv('glass.data')
data.head()

   index       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Class
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0      1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0      1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0      1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0      1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0      1

In [3]:
data.Class.value_counts()

2    76
1    70
7    29
3    17
5    13
6     9
Name: Class, dtype: int64

In [ ]:
data.info()

In [ ]:
data.describe()

In [4]:
## creating X and y
X=data.drop(labels=['index'], axis=1) 
y= data['Class']

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, 
                                                    test_size=0.30, 
                                                    random_state=42)

In [6]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score,precision_score, recall_score, f1_score



clf1 = LogisticRegression()
clf1.fit(X_train, Y_train)

LogisticRegression()

In [7]:
from sklearn.metrics import f1_score

In [8]:
pre_t1 = clf1.predict(X_train)
f1_score(Y_train, pre_t1, average='weighted')

0.9259719528313223

In [9]:
pre1 = clf1.predict(X_test)
f1_score(Y_test, pre1, average='weighted')

0.9481868131868132

In [10]:
pd.crosstab(Y_test, pre1)

col_0   1   2  3  5  6   7
Class
1      19   0  0  0  0   0
2       0  23  0  0  0   0
3       0   2  2  0  0   0
5       0   0  0  6  0   0
6       0   0  0  0  2   1
7       0   0  0  0  0  10

In [11]:
clf2 = LogisticRegression(class_weight='balanced').fit(X_train, Y_train)

In [12]:
pre_t2 = clf2.predict(X_train)
f1_score(Y_train, pre_t2, average='weighted')

0.986604980659193

In [13]:
pre2 = clf2.predict(X_test)
f1_score(Y_test, pre2, average='weighted')

1.0

In [14]:
pd.crosstab(Y_test, pre2)

col_0   1   2  3  5  6   7
Class
1      19   0  0  0  0   0
2       0  23  0  0  0   0
3       0   0  4  0  0   0
5       0   0  0  6  0   0
6       0   0  0  0  3   0
7       0   0  0  0  0  10