In [1]:
!pip install pandas_ml

Requirement already satisfied: pandas_ml in /Users/kishan/anaconda3/lib/python3.6/site-packages (0.5.0)
Requirement already satisfied: enum34 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas_ml) (1.1.6)
Requirement already satisfied: pandas>=0.17.0 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas_ml) (0.23.4)
Requirement already satisfied: python-dateutil>=2.5.0 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_ml) (2.6.1)
Requirement already satisfied: pytz>=2011k in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_ml) (2018.3)
Requirement already satisfied: numpy>=1.9.0 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_ml) (1.15.2)
Requirement already satisfied: six>=1.5 in /Users/kishan/anaconda3/lib/python3.6/site-packages (from python-dateutil>=2.5.0->pandas>=0.17.0->pandas_ml) (1.11.0)

In [1]:
import pandas_ml as pdml

import pandas as pd

In [2]:
df = pd.read_csv('datasets/diabetes.csv')

In [3]:
mf = pdml.ModelFrame(df.to_dict())

In [4]:
mf.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
mf.shape

(768, 9)

In [7]:
mf.target

In [8]:
mf.has_target()

False

In [9]:
mf.target_name = 'Outcome'

In [10]:
mf.has_target()

True

In [11]:
mf.target.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [12]:
mf.data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33

In [13]:
mf.data = mf.data.preprocessing.scale()

In [14]:
mf.data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,0.639947,0.848324,0.149641,0.907270,-0.692891,0.204013,0.468492,1.425995
1,-0.844885,-1.123396,-0.160546,0.530902,-0.692891,-0.684422,-0.365061,-0.190672
2,1.233880,1.943724,-0.263941,-1.288212,-0.692891,-1.103255,0.604397,-0.105584
3,-0.844885,-0.998208,-0.160546,0.154533,0.123302,-0.494043,-0.920763,-1.041549
4,-1.141852,0.504055,-1.504687,0.907270,0.765836,1.409746,5.484909,-0.020496

In [15]:
mf.target.head()

0    1
1    0
2    1
3    0
4    1
Name: Outcome, dtype: int64

In [16]:
mf_train, mf_test = mf.model_selection\
                      .train_test_split(test_size = 0.3)

In [17]:
print('Training data shape: ', mf_train.shape)
print('Test data shape: ', mf_test.shape)

Training data shape:  (537, 9)
Test data shape:  (231, 9)

In [18]:
mf_train.target_name

'Outcome'

In [19]:
mf_test.target_name

'Outcome'

In [20]:
estimator = mf.svm.LinearSVC(max_iter=10000)

In [21]:
mf_train.fit(estimator)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=10000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0)

In [22]:
predictions = mf_test.predict(estimator)

predictions.head()

304    0
523    1
614    1
606    1
136    0
dtype: int64

In [23]:
mf_test.head()

,Outcome,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
304,0,-0.250952,0.910918,0.356432,-1.288212,-0.692891,-1.395170,-0.799958,0.319855
523,1,1.530847,0.284975,0.046245,-1.288212,-0.692891,0.280164,0.543995,1.000557
614,1,2.124780,0.535352,0.253036,0.342717,0.557446,0.521311,0.257084,1.425995
606,1,-0.844885,1.881130,0.459827,1.346366,1.851198,1.016296,2.374187,-0.956462
136,0,-1.141852,-0.653939,0.046245,0.342717,-0.258746,-0.151361,0.377888,-1.041549

In [24]:
mf_test.metrics.accuracy_score(estimator)

0.7922077922077922

In [25]:
from sklearn.metrics import accuracy_score

In [26]:
accuracy_score(mf_test.target.values, 
               predictions.values)

0.7922077922077922

In [29]:
from pandas_ml import ConfusionMatrix

In [30]:
confusion_matrix = ConfusionMatrix(mf_test.target.values, 
                                   predictions.values)

In [31]:
confusion_matrix

Predicted  False  True  __all__
Actual
False        137    13      150
True          35    46       81
__all__      172    59      231